* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5efff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;
  left: 50%;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #a294f9;
  color: #fff;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
}

form {
  background: #e5d9f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  border: 2px solid #cdc1ff;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cdc1ff;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #a294f9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

input[type="submit"] {
  margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #cdc1ff;
}

@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
